:root {
  --container-size: 700px; 
}

body {
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./images/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  width: var(--container-size);
  height: auto;
  margin: 20px auto 0;
  padding: 50px 20px 70px;
  border: 1px solid #d8d9de;
  background-color: rgba(255, 255, 255, 0.85); /* 투명도를 적용한 배경색 */
  border-radius: 4px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

#result-gif {
  display: flex;
  justify-content: center;
  align-items: center;
}

#result-gif-img {
  max-width: 100px;  /* 너비를 조절 */
  max-height: 100px;  /* 높이를 조절 */
  height: auto;
  display: none;
}

audio {
  display: none; /* 오디오 요소 숨기기 */
}
