:root {
  --container-size: 90vw;
  --max-container-size: 700px;
}

body {
  background-size: cover;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./images/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0; 
}

.container {
  width: var(--container-size);
  max-width: var(--max-container-size);
  height: auto;
  margin: 20px auto;
  padding: 50px 20px 70px;
  border: 1px solid #d8d9de;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 4px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.title {
  font-family: "Black Han Sans", sans-serif;
  font-weight: 600; /* 굵기 설정 */
  font-style: normal;
  font-size: 50px;
  word-break: keep-all;
  white-space: nowrap;
}

#answer {
  font-family: "Noto Sans KR", sans-serif;
  color: red;
  font-weight: bold;
  font-size: 23px;
}

#result-area {
  font-weight: bold;
  font-size: 20px;
}

.text {
  font-family: "Noto Sans KR", sans-serif;
}

#result-gif {
  display: flex;
  justify-content: center;
  align-items: center;
}

#result-gif-img {
  max-width: 100%;
  max-height: 350px;
  height: auto;
  display: none;
}

audio {
  display: none;
}

.input-width {
  width: 50%;
  max-width: 300px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    padding: 30px 15px 50px;
  }

  .input-width {
    width: 70%;
  }

  .title {
    font-size: 35px; 
    white-space: normal; 
  }
}