/* body{
    margin: 0;
    background-image: url(images/background\(KRUSH\).png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}

#user-input{
    size: 2rem;
} */